[Bb]uild/
[Bb]in/
[Xx]64/
[Xx]86/
[Oo]bj/
*.exe
*.dll
*.lib
*.exp
*.pdb
*.ilk
*.obj
*.sln
*.vcxproj
*.filters
*.user
*.aps
*.res
*.manifest
.vs/
.vscode/
*.VC.db
*.VC.VC.opendb
*.suo
*.sdf
*.opensdf
*.log
ipch/
.DS_Store
Thumbs.db
*.tmp
*.cache